<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="a web scraper app.">
  <meta name="keywords" content="web crawler, web scraper, crawl the net, crawl a website">
  <title>{{pageTitle}}</title>


  <link rel="stylesheet" href="/vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  {{{body}}}

  <script src="/vendors/js/jquery-3.4.1.js"></script>
  <script src="/vendors/js/popper.min.js"></script>
  <script src="/vendors/js/bootstrap.min.js"></script>
  <script src="/vendors/js/all.js"></script>
  <script src="/vendors/js/Chart.min.js"></script>
  <script src="/vendors/js/mustache.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>